<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="URL" value="http://10.252.204.6/v1/asclog/xml/full?since="/>
		<add key="THREAD_COUNT" value="5"/>
		<add key="CONN_STRING" value="server=sigops-angular-20210823.cbbq16nyaygr.us-east-1.rds.amazonaws.com;user=SPM;password=Metrics12_;database=mark1;AllowLoadLocalInfile=true"/>
	</appSettings>

</configuration>